#page-container {
    position: relative;
    height: calc(100vh - 8rem);
    overflow-y: auto;
  }
  
#content-wrap {
    height: 100%;
}

/* for fixed-top navbar */
body {
    padding-top: 4rem;
    overflow-y: hidden;
    height: 100vh;
    padding-bottom: 4rem;
  }

#mainNav {
  min-height: 4rem;
  z-index: 2502;
}

#footer {
    z-index: 2502;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;            /* Footer height */
}

.page-background {
  display: block;
  box-sizing: content-box;
  min-height: 100%;
}

.stay-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.cms-toolbar-expanded body, .cms-toolbar-expanded .fixed-top {
  top: 46px;
}

.cms-toolbar-expanded #page-container {
  height: calc(100vh - 8rem - 46px);
}
.cms-toolbar-expanded #content-wrap {
  min-height: calc(100vh - 8rem - 46px);
}



.page-section {
  min-height: 100vh;
}

@media (max-width: 767px)
{
    #btm-navbar {
            bottom: 0;
            position: absolute;
            background: $secondary;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);

    }
}
@media all and (max-width: 576px) {
  .btn-block-xs-only { width: 100%; display:block; }
} 

.page-container img, 
.page-container * img,
#sidebar-page-content-wrapper img,
#sidebar-page-content-wraper * img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 100%;
}