// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$emphasisblue: #6f3dbd !default;
$blue: #1057fc !default;
$indigo: #6340bc !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ec555c !default;
$orange: #fcb410 !default;
$yellow: #ffc107 !default;
$green: #40bc86 !default;
$teal: #55ece4 !default;
$cyan: #199ec7 !default;
$green-yellow: #9ec719 !default;
$light-blue: #a3daeb !default;
$dark-blue: #093947 !default;

$primary: $emphasisblue !default;
$secondary: $cyan !default;
$success: $green !default;
$info: $green-yellow !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $dark-blue !default;
